<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssgssak.team1.sist.mapper.member.LikeMapper"> 
	<select id="getInterGoods" resultType="InterestGoodsVO">
SELECT * 
FROM ( 
with temp2 as ( 
SELECT  i.productid pd2, d.name dname2 
FROM interestgoods i LEFT JOIN divisionfolder d ON i.folderid = d.id
WHERE i.memid = #{id}
 ),
 temp as (
    SELECT  tp2.pd2 pd, sp.spcldscnrt cnrt, tp2.dname2 dname
    FROM product pt LEFT JOIN temp2 tp2 ON tp2.pd2=pt.id
                LEFT JOIN specialprice sp ON pt.specialpriceid = sp.id
    WHERE pt.id in (SELECT tp2.pd2
                    FROM temp2
                    )
 )
 SELECT DISTINCT tp.pd id, pd.pdname name, pd.pcontent content, pi.imgurl url, rv.grade grade , ROW_NUMBER() OVER (PARTITION BY po.productid ORDER BY po.optionprice) as row_num , po.optionprice price , tp.dname, (po.optionprice * (100 - tp.cnrt) / 100) disprice
FROM temp tp    LEFT JOIN product pd ON tp.pd = pd.id 
              LEFT JOIN productoption po ON tp.pd = po.productid 
                LEFT JOIN productimg pi ON tp.pd = pi.productid 
		               LEFT JOIN review rv ON tp.pd = rv.productid 
 order by tp.pd  
				 ) b 
				 WHERE row_num = 1 
  </select>
  
  <select id="searchLike" resultType="int">
   SELECT count(*) cnt 
FROM interestgoods
WHERE memid = #{id} AND productid = #{productid}
  </select>
  
  <insert id="insertLike">
  INSERT INTO interestgoods 
   VALUES (interestGoods_seq.NEXTVAL, #{id}, #{productid}, SYSDATE, 1)
  </insert>
  
  <delete id="likeCancel">
 DELETE FROM interestgoods 
 WHERE memid = #{id} AND productid = #{productid}
  </delete>
</mapper>