<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssgssak.team1.sist.mapper.member.LoginMapper"> 
	<!-- <delete id="delete">
	DELETE FROM tbl_board
	WHERE bno=#{bno}
	</delete> -->	
  <select id="idInvalid" resultType="int">
    SELECT COUNT(*)
	FROM member
	WHERE id = #{id}
  </select>
  
  <select id="login" resultType="int">
  	SELECT COUNT(*)
  	FROM member
  	WHERE id = #{id} AND passwd = #{passwd}
  </select>
</mapper>