<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssgssak.team1.sist.mapper.member.UserInfoMapper"> 
<select id="getPoint" resultType="int">
SELECT NVL(SUM(pr.points),0) memberPoint  
FROM pointrecord pr LEFT JOIN points p ON pr.cardNumber = p.id 
WHERE p.id2 = #{id}
</select>

<select id="getMemberInfo" resultType="MemberVO">
SELECT id, email, phonenum, name
FROM member
WHERE id = #{id}
</select>

<select id="getPCoupons" resultType="int">
<![CDATA[
 SELECT count(*)
FROM (SELECT trunc(c.endd) - trunc(SYSDATE) leftDays
 FROM couponrecord cr LEFT JOIN coupon c ON cr.cnumber = c.id 
WHERE cr.memid =#{id})
WHERE leftDays >= 0
 ]]>
</select>

<select id="getSevenDaysLeftC" resultType="int">
<![CDATA[
SELECT count(*)
	FROM (SELECT trunc(c.endd) - trunc(SYSDATE) leftDays
	 	FROM couponrecord cr LEFT JOIN coupon c ON cr.cnumber = c.id 
		WHERE cr.memid = #{id}) tp 
WHERE leftDays >= 0 AND leftDays <= 7
 ]]>
</select>

<select id="availDownCoupon" resultType="int">
SELECT COUNT(*) availDownC 
FROM coupon c 
WHERE id NOT IN ( 
SELECT cr.cnumber 
FROM couponrecord cr  
WHERE cr.memid = #{id} ) 
</select>

<update id="updateInfo" parameterType="MemberVO">
UPDATE member
SET phonenum = #{mbrvo.phoneNum}, email = #{mbrvo.email}
WHERE id = #{mbrvo.id}
</update>

<update id="changePwd" >
UPDATE member
SET passwd = #{passwd}
WHERE id = #{id}
</update>
<select id="getAgreement" resultType="String">
SELECT name
FROM agreement ag left join terms tr ON ag.terms_id = tr.id
WHERE ag.memid = #{id} AND tr.necessary ='N'
</select>

<select id="searchAgree" resultType="int">

SELECT  COUNT(*)
FROm agreement at left join terms ts ON at.terms_id = ts.id
WHERE ts.name = #{terms} AND at.memid = #{id} AND at.status='Y'
</select>

<insert id="insertAgree">
INSERT INTO agreement VALUES (agreement_seq.NEXTVAL, ${termsid}, #{id}, 'Y', SYSDATE)
</insert>

<select id="checkN" resultType="int">
SELECT COUNT(*)
FROM agreement
WHERE memid = #{id} AND terms_id = ${termsid} AND status = 'N'
</select>

<update id="updateAgree">
UPDATE agreement
SET status = 'Y'
WHERE memid = #{id} AND terms_id = ${termsid}
</update>

<select id="searchByREG" resultType="String">
SELECT ts.id
FROM agreement at left join terms ts ON at.terms_id = ts.id
WHERE at.memid = #{id} AND REGEXP_LIKE(ts.name, #{terms}) AND at.status = 'Y'
</select>
<delete id="deleteAgree">
DELETE FROM agreement
WHERE memid = #{id} AND terms_id = ${termsid}
</delete>

<select id="search" resultType="AgreementVO">
SELECT ts.name, ag.status
FROM agreement ag left join terms ts ON ag.terms_id = ts.id
WHERE ag.memid = #{id} AND REGEXP_LIKE(ts.name, #{searchKeyword})
</select>




</mapper>