<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ssgssak.team1.sist.mapper.review.ReviewImgMapper">
	
	<!-- List<ReviewImgDTO> select(long productcode) throws SQLException; -->

		<select id="select" resultType="ssgssak.team1.sist.domain.review.ReviewImgDTO">
			SELECT ri.ID, ri.REVIEWID, ri.REVIEWIMGURL
			FROM product p
			JOIN review r ON p.id= r.productid
			JOIN reviewImg ri ON r.id=ri.reviewid
			WHERE p.id = #{id}
		</select>
		
		<!-- int insertReviewImg(String reviewImgUrl) throws SQLException; -->
		<insert id="insertReviewImg">
			INSERT INTO reviewImg VALUES 
		 	(reviewImg_seq.NEXTVAL,review_seq.CURRVAL,#{reviewImgUrl})
		</insert>
		
</mapper>
