<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  <settings>
    <!-- 컬러명이 c_name 일 경우  cName 변환 -->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="jdbcTypeForNull" value="NULL"/>
  </settings>
  <typeAliases>
<!--     <typeAlias type="org.doit.ik.domain.DeptDTO" alias="DeptDTO" />-->

<!-- 		명건 DTO -->
    <typeAlias type="ssgssak.team1.sist.domain.productList.AllCateDTO" alias="AllCateDTO" /> 
    <typeAlias type="ssgssak.team1.sist.domain.productList.MajorCateDTO" alias="MajorCateDTO" /> 
    <typeAlias type="ssgssak.team1.sist.domain.productList.MiddleCateDTO" alias="MiddleCateDTO" /> 
    <typeAlias type="ssgssak.team1.sist.domain.productList.SubCateDTO" alias="SubCateDTO" /> 
    <typeAlias type="ssgssak.team1.sist.domain.productList.MiniCateDTO" alias="MiniCateDTO" /> 
    <typeAlias type="ssgssak.team1.sist.domain.productList.CurrentCateDTO" alias="CurrentCateDTO" /> 
    <typeAlias type="ssgssak.team1.sist.domain.productList.ProductListDTO" alias="ProductListDTO" /> 
    <typeAlias type="ssgssak.team1.sist.domain.productList.PageDTO" alias="PageDTO" /> 
<!--       명건 DTO 끝 -->

    <typeAlias type="ssgssak.team1.sist.domain.member.MemberVO" alias="MemberVO" /> 
    <typeAlias type="ssgssak.team1.sist.domain.ship.ShippingPlaceInfoVO" alias="ShippingPlaceInfoVO" /> 
    <typeAlias type="ssgssak.team1.sist.domain.member.InterestGoodsVO" alias="InterestGoodsVO" />
    <typeAlias type="ssgssak.team1.sist.domain.member.AuthVO" alias="AuthVO"/>
    <typeAlias type="ssgssak.team1.sist.domain.search.SearchVO" alias="SearchVO"/> 
    <typeAlias type="ssgssak.team1.sist.domain.search.Criteria" alias="Criteria"/> 
    <typeAlias type="ssgssak.team1.sist.domain.search.PageDTO" alias="PageDTO2"/> 
    <typeAlias type="ssgssak.team1.sist.domain.search.PriceVO" alias="PriceVO"/> 
    <typeAlias type="ssgssak.team1.sist.domain.search.BrandCateCountVO" alias="BrandCateCountVO"/>
    <typeAlias type="java.util.Map" alias="Map" />
    <typeAlias type="java.util.HashMap" alias="HashMap" />
    <typeAlias type="java.util.List" alias="List" />
  </typeAliases>
</configuration> 